

////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
template <class T>
dlist<T>::dlist()
{
  head = NULL;
  tail = NULL;
  node_count = 0;
}
////////////////////////////////////////////////////////////////////////////////
template<class T>
dlist<T>::dlist(const dlist<T> & other)
{

    head = NULL;
    head = new Dnode<T>(other.head->data());
    head->set_Previous(NULL);
    tail = head;
    Dnode<T> *s_ptr = other.head ->Nlink();
    Dnode<T> *d_ptr,*tmp;
    d_ptr= head;
    tmp = head;
    d_ptr -> set_Previous(NULL);
    while(s_ptr != NULL)
    {
      d_ptr-> set_Next(new Dnode<T>(s_ptr -> data()));
      tmp = tmp ->Nlink();
      tmp-> set_Previous(d_ptr);
      d_ptr = d_ptr-> Nlink();
      tail = d_ptr;
      s_ptr = s_ptr -> Nlink();
    }
    node_count= other.node_count;
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
template<class T>
dlist<T>::~dlist()
{
  Dnode<T> *rmptr;
  while (head != NULL)
  {
    rmptr = head;
    head = head -> Nlink();
    delete rmptr;

  }
  return;
}
////////////////////////////////////////////////////////////////////////////////
/*template<class T>
dlist<T>::operator = (const dlist<T> &other)
{
  Dnode<T> *rmptr;
  if( this == &other)
  {
    return *this;
  }
  while (head != NULL)
  {
    rmptr = head;
    head -> Nlink();
    delete rmptr;
  }
  delete rmptr;
  if (other.head != NULL)
  {
    head = new Dnode<T>(other.head->data());
    head -> set_Previous(NULL);
    const Dnode<T> * s_ptr = other.head;
    Dnode<T> * d_ptr = head;
    Dnode<T> *tmp =head;
    s_ptr = s_ptr -> link();
    while(s_ptr != NULL)
    {
      d_ptr-> set_Next(new Dnode<T>(s_ptr->data()));
      d_ptr = d_ptr -> Nlink();
      d_ptr-> set_Previous(tmp);
      tmp= tmp-> Nlink();
      d_ptr -> set_link(NULL);
      s_ptr = s_ptr -> Nlink();
    }
  }
  return *this;
}*/
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
template<class T>
void dlist<T>::front_insert(T& object)
{
  Dnode<T> *tmp;
  tmp = new Dnode<T>;
  tmp -> set_data(object);
  tmp -> set_Previous(NULL);
  tmp -> set_Next(NULL);
  node_count++;
  if(tail== NULL && head == NULL)
  {
  head =tmp;
  tail =tmp;
  return;
  }

  if (&tail == & head)
  {
    head ->set_Next(tmp);
    tmp -> set_Previous(head);
    tail =tmp;
    return;
  }

  head -> set_Previous(tmp);
  tmp -> set_Next(head);
  head = tmp;
  return;
}

////////////////////////////////////////////////////////////////////////////////
template<class T>
void dlist<T>::rear_insert(T& object)
{
  Dnode<T> *tmp;
  tmp = new Dnode<T>;
  tmp -> set_data(object);
  tmp -> set_Previous(NULL);
  tmp -> set_Next(NULL);
  node_count++;

  if(tail== NULL && head == NULL)
  {
  head =tmp;
  tail =tmp;
  return;
  }

  if (&tail == & head)
  {
    head ->set_Next(tmp);
    tmp -> set_Previous(head);
    tail =tmp;
    return;
  }

  tmp -> set_Previous(tail);
  tail -> set_Next(tmp);
  tail = tmp;
  return;
}
////////////////////////////////////////////////////////////////////////////////
template<class T>
void dlist<T>::show()
{
  Dnode<T> *tmp;
  tmp = head;
  while(tmp != NULL)
  {
    std::cout<< tmp -> data() << endl;
    tmp = tmp-> Nlink();
  }
}
////////////////////////////////////////////////////////////////////////////////
template<class T>
void dlist<T>::reverse_show()
{
  Dnode<T> *tmp;
  tmp = tail;
  while(tmp != NULL)
  {
    std::cout<< tmp -> data() << endl;
    tmp = tmp-> Plink();
  }
}
////////////////////////////////////////////////////////////////////////////////
template<class T>
void dlist<T>::front_remove()
{
  Dnode<T> *tmp;
  tmp = head;
  if(tail == head)
    {
    --node_count;
    delete tmp;
    return;

    }
  if(tail== NULL && head == NULL)
  {
    return;
  }
  head = head -> Nlink();
  delete tmp;
  head -> set_Previous(NULL);
  --node_count;
}
////////////////////////////////////////////////////////////////////////////////
template<class T>
void dlist<T>::rear_remove()
{
  Dnode<T> *tmp;
  tmp = tail;
  if(tail == head)
  {
    --node_count;
    delete tmp;
    return;
  }
  if(tail== NULL && head == NULL)
  {
    return;
  }
  tail = tail -> Plink();
  delete tmp;
  tail -> set_Next(NULL);
  --node_count;
}
////////////////////////////////////////////////////////////////////////////////
template<class T>
void dlist<T>::remove(iterator& other)
{
  Dnode<T> *rmptr, *tmp;
  rmptr = other.current;

  if(other.current == NULL)
  {
    return;
  }
  if(&rmptr == &head)
  {
    front_remove();
    --node_count;
    return;
  }
  if(&tail==&rmptr)
  {
    rear_remove();
    --node_count;
    return;
  }
  other.current = other.current -> Plink();
  tmp = rmptr -> Nlink();
  tmp ->set_Previous(other.current);
  other.current = set_Next(tmp);
  delete rmptr;
  --node_count;

}
////////////////////////////////////////////////////////////////////////////////
template<class T>
void dlist<T>::insert_before(iterator& it, T& item)
{
  Dnode<T> *tmp;

  if(it.current == head)
  {
    front_insert(item);
    return;
  }
  if(head == NULL && tail ==NULL)
  {
    front_insert(item);
    return;

  }
  if(head == tail)
  {
    front_insert(item);
    return;
  }
  if(it.current == NULL)
  {
    return;
  }

  tmp = new Dnode<T>(item);
  tmp -> set_Next(it.current);
  tmp -> set_Previous(it.current->Plink());
  it.current-> set_Previous(tmp);
  ++node_count;
  return;
}
////////////////////////////////////////////////////////////////////////////////
template<class T>
void dlist<T>::insert_after(iterator& it, T& item)
{
  Dnode<T> *tmp;

  if(it.current == head)
  {
    rear_insert(item);
    return;
  }
  if(head == NULL && tail ==NULL)
  {
    rear_insert(item);
    return;

  }
  if(head == tail)
  {
    rear_insert(item);
    return;
  }
  if(it.current == NULL)
  {
    return;
  }

  tmp = new Dnode<T>(item);
  tmp -> set_Previous(it.current);
  tmp -> set_Next(it.current->Nlink());
  it.current -> Nlink()-> set_Previous(tmp);
  it.current->set_Next(tmp);
  ++node_count;
  return;
}
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
